.list {
    columns: 1;
    padding: 0;
}

.item {
    list-style: none;
    max-width: 300px;
    padding: 20px;
    border-radius: 16px;
    margin-right: auto;
    margin-left: auto;
}

.link {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    text-decoration: none;
    color: black;
    text-align: center;

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
}

.poster {
    max-height: 450px;
    min-width: 300px;
    border-radius: 4px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    text-decoration: none;
    color: black;
    text-align: center;

    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 0;
        list-style: none;
    }
    .searchForm{
        max-width: 600px;
    }
}

@media screen and (min-width: 1158px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1452px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}